* {
    margin: 0;
    padding: 0;
}

/* background */

.background {
    background-color: cornflowerblue;
}

header {
    background-color: wheat;
}

main {
    background-color: burlywood;
}

/* navbar */

ul {
    background-color: brown;
    list-style-type: none;
}

li {
    padding: 0 20px;
    display: inline;
}

/* main */

main {
    position: relative;
    bottom: 16px;
}