* {
    margin: 0;
    padding: 0;
}

/* background */

.background {
    background-color: cornflowerblue;
}

header {
    background-color: wheat;
}

main {
    background-color: burlywood;
}

/* navbar */

nav ul{
    margin-bottom: 0;
    border: 9px solid rgb(153, 57, 1);
    background-color: wheat;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    border-right: 4px solid rgb(153, 57, 1);

}

li:last-child {
    border: none;

}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.navLink:hover {
   background-color:rgb(153, 57, 1);
   text-decoration: none;
}



/* sign-in header message */

.sign-in {
    margin: 0;
    text-align: center;
    text-shadow: 2px 3px 5px rgb(90, 90, 90);
}

/* active link */
.active {
    background-color: rgb(153, 57, 1);
}

/* main */

main {
    height: 220px;
}

p {
    position: relative;
    top: 20px;
}