* {
    margin: 0;
    padding: 0;
}

/* background */

.background {
    background-image: url(images/background-3199325_960_720.webp);
    background-color: cornflowerblue;
}

header {
    background-color: #ceeaff;
}

main {
    height: 50em;
    background-color: #ceeaff;
    border: 11px groove #8ba9bf;
}

/* header */
header {
    border: 11px groove #8ba9bf;
}


/* navbar */


nav ul{
    margin-bottom: 0;
    background-color: #c5def1;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    

}

li:last-child {
    border: none;

}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
    text-align: center;
    border-radius: 40px;
    padding: 3px 10px;
    text-decoration: none;
}

li a.navLink:hover {
   background-color:rgba(243, 117, 0, 0.719);
   color: black;
   text-decoration: none;
}



/* sign-in header message */

.sign-in {
    margin: 0;
    background-color: burlywood;
    text-align: center;
    text-shadow: 2px 3px 5px rgb(90, 90, 90);
}

/* active link */


/* main */



p {
    position: relative;
    top: 20px;
}

/* javascript zone */

h2 {
    position: relative;
    top: 50px;
}

div {
    position: relative;
    top: 50px;
    border: 6px double #ceeaff;
    background-color: #8ac7f5;


}

main p {
   height: 79px;
   left: 20px; 
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: larger;
}

.preview {
    position: relative;
    top: -13px;
    left: 20px;
    width: 254px;
    background-color: #0572c5;
}